[submodule "knx-esp"]
	path = knx-esp
	url = https://github.com/thelsing/knx-esp.git
[submodule "CreateKnxProd"]
	path = CreateKnxProd
	url = https://github.com/thelsing/CreateKnxProd
[submodule "knx-linux"]
	path = knx-linux
	url = https://github.com/thelsing/knx-linux.git
